div.cp_error,
div.cp_alert,
div.cp_success,
div.cp_info {
	color: #333;
	padding: 20px 20px 20px 60px;
	margin-bottom: 20px;
	min-height: 36px;
}
div.cp_success {
	border: 1px solid #cbe2ab;
	background: #eefcda url(../images/tick_32.png) no-repeat 20px 18px;
}
div.cp_success,
div.cp_success a {
	color: #6A8829;
}
div.cp_info {
	border: 1px solid #bad4f6;
	background: #e7f5ff url(../images/info_32.png) no-repeat 20px 18px; 
}
div.cp_info,
div.cp_info a {
	color: #3c64a6;
}
div.cp_alert {
	border: 1px solid #f5d788;
	background: #fff4d0 url(../images/warning_32.png) no-repeat 20px 18px;      
}
div.cp_alert,
div.cp_alert a {
	color: #c57f11;
}
div.cp_error {
	border: 1px solid #fab1b1;
	background: #ffe8e8 url(../images/delete_32.png) no-repeat 20px 18px;
}
div.cp_error,
div.cp_error a {
	color: #bb1010;
}
div.cp_error a,
div.cp_alert a,
div.cp_success a,
div.cp_info a {
	text-decoration: underline;
}

span.cp_highlight {
	padding: 2px 5px;
	color: #fff;
}
span.cp_highlight.blue { background: #0099cc; }
span.cp_highlight.brown { background: #754c24; }
span.cp_highlight.black { background: #333333; }
span.cp_highlight.green { background: #70ab2c; }
span.cp_highlight.silver { background: #ccc; }
span.cp_highlight.magenta { background: #98253b; }
span.cp_highlight.natural { background: #736357; }
span.cp_highlight.orange { background: #d4700c; }
span.cp_highlight.purple { background: #5d547e; }
span.cp_highlight.red { background: #ab2b28; }
span.cp_highlight.teal { background: #199f99; }
span.cp_highlight.yellow { background: #f2ce24; }

ul.cp_bullet li {
	list-style-type: none;
	padding-left: 24px;
	background-repeat: no-repeat;
	background-position: center left;
}
ul.cp_bullet.black li { background-image: url(../images/bullet_black.png); }
ul.cp_bullet.blue li { background-image: url(../images/bullet_blue.png); }
ul.cp_bullet.green li { background-image: url(../images/bullet_green.png); }
ul.cp_bullet.orange li { background-image: url(../images/bullet_orange.png); }
ul.cp_bullet.pink li { background-image: url(../images/bullet_pink.png); }
ul.cp_bullet.purple li { background-image: url(../images/bullet_purple.png); }
ul.cp_bullet.red li { background-image: url(../images/bullet_red.png); }
ul.cp_bullet.yellow li { background-image: url(../images/bullet_yellow.png); }

ul.cp_check li {
	padding-left: 30px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: top left;
}
ul.cp_check.black li { background-image: url(../images/black_checklist.png); }
ul.cp_check.blue li { background-image: url(../images/blue_checklist.png); }
ul.cp_check.darkblue li { background-image: url(../images/darkblue_checklist.png); }
ul.cp_check.gray li { background-image: url(../images/gray_checklist.png); }
ul.cp_check.green li { background-image: url(../images/green_checklist.png); }
ul.cp_check.gray li { background-image: url(../images/gray_checklist.png); }
ul.cp_check.orange li { background-image: url(../images/orange_checklist.png); }
ul.cp_check.pink li { background-image: url(../images/pink_checklist.png); }
ul.cp_check.purple li { background-image: url(../images/purple_checklist.png); }
ul.cp_check.red li { background-image: url(../images/red_checklist.png); }

.cp_button {
	border: none;
	padding: 0;
	margin: 0;
	-webkit-transition: all .3s ;
	-moz-transition: all .3s ;
	-o-transition: all .3s ;
	transition: all .3s ;
	color: #ffffff;
	text-decoration: none !important;
	padding: 5px 12px;
	font-size: 12px;
	background: -moz-linear-gradient(
		top,
		#6b6b6b 0%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#6b6b6b),
		to(#000000));
	border: 1px solid #000000;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	display: inline-block;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .4);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .4);
	margin: 10px;
}

.cp_button:hover {
	color: none;
	opacity: 0.8;
}

.cp_button.small {
	padding: 5px 12px;
	font-size: 12px;
}
.cp_button.large {
	padding: 10px 22px;
	font-size: 14px;
}
.cp_button.circle {
	border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
}
.cp_button.rounded {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.cp_button.square {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.cp_button.blue {	
	color: #ffffff;
	border: 1px solid #325273;
	background: -moz-linear-gradient(
		top,
		#258dc8 0%,
		#003366);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#258dc8),
		to(#003366));
}
.cp_button.red {
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#ff4242 0%,
		#c40000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff4242),
		to(#c40000));
	border: 1px solid #8f0007;
}
.cp_button.yellow {
	color: #a67906;
	background: -moz-linear-gradient(
		top,
		#ffffaf 0%,
		#ffce51 50%,
		#ffbc11);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffaf),
		color-stop(0.50, #ffce51),
		to(#ffbc11));
	border: 1px solid #a67906;
	text-shadow:
		0px -1px 0px rgba(166,121,006,1),
		0px 1px 0px rgba(255,255,255,0.2);
}
.cp_button.green {
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#78ad4c 0%,
		#174209);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#78ad4c),
		to(#174209));
	border: 1px solid #007304;
}
.cp_button.white {
	color: #616f7a;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	border: 1px solid #bbbbbb;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,1);
}